<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <h1>Listing jobs</h1>

        <%= link_to '新建', new_admin_job_path, class:"btn btn-default", 'data-no-turbolink' => true %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>工作title</th>
                    <th>工作要求</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <% @jobs.each do |job| %>
                    <tr>
                        <td><%= job.title %></td>
                        <td><%= raw job.content %></td>
                        <td><%= link_to '显示', admin_job_path(job) %></td>
                        <td><%= link_to '编辑', edit_admin_job_path(job), 'data-no-turbolink' => true%></td>
                        <td><%= link_to '删除', admin_job_path(job), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <br>
    </div>
</div>
