<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <p>
        <%= link_to 'new', new_admin_news_content_path, class:"btn btn-default", 'data-no-turbolink' => true  %> 
        </p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% @news_contents.each do |a| %>
                <tr>
                    <td>
                    <%= a.id %>
                    </td>
                    <td>
                    <%= a.title %>
                    </td>
                    <td>
                    <%= link_to '显示', admin_news_content_path(a) %> 
                    <%= link_to '编辑', edit_admin_news_content_path(a), 'data-no-turbolink' => true %> 
                    <%= link_to '删除', admin_news_content_path(a), method: :delete, data: { confirm: 'Are you sure?' } %> 
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>

    </div>
</div>
