<div class="row">
    <div class="col-md-6">
        <h2>欢迎来到管理页面</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h5>上传首页焦点图片
            <strong>名字必须为focus1.jpg/focus2.jpb/focus3.jpg/focus4.jpg<strong>
        </h5>

        <hr>

        <% for i in 1..4 do %>
            <h5>
                当前图片
                <strong>focus<%= i %>.jpg<strong>
            </h5>
            <%= image_tag image_path("pic/focus#{i}.jpg"), width:"948", height:"447",alt:"" %>
            <hr>
        <% end %>

        <%= form_tag '/admin/static_pages/update_focus', method: :put, multipart:true do %>
            <div class="field">
                <%= file_field_tag :focus_pic %>
                <%= hidden_field_tag :focus_pic_cache%>
            </div>
            <hr>
            <div class="actions">
                <%= submit_tag '保存', class: "btn btn-primary" %>
            </div>
        <%end%>
    </div>

</div>
