<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <h1><%= @about_content.title %></h1>
        <p>
        <h3><%= @about_content.summary %></h3>
        </p>
        <p>
        <%= raw @about_content.content %>
        </p>

        <%= link_to '编辑', edit_admin_about_content_path(@about_content), 'data-no-turbolink' => true %>
        <%= link_to '后退', admin_about_contents_path %>
    </div>
</div>
